@font-face {
    font-family: Outage;
    src: url(./Fonts/Outage.ttf);
}

.header{
    -fx-background-color: #f3eff5;
}
.start-background{
    -fx-background-color:#fffff2;
}

.display{
    -fx-background-color: #eaea91;
}

.TH-Orange{
    -fx-background-color: #F8993A;
    -fx-fill: #fcb965;
}

.TH-Tan{
    -fx-background-color: #FEF8E2;
}

.TH-Black{
    -fx-background-color: #333132;
}

.TH-Blue{
    -fx-background-color: #C5E5D5;
}

.shadow{

}

.content-pane{
    /*-fx-background-color: #e6c7c7;*/
    -fx-padding: 50.0 , 70.0;
}

.presentation-root{
    -fx-background-color: #F8993A;
    -fx-padding: 4.0;

}

.presentation-content{
    -fx-background-color: #333132;
}

.slide-view{

}


.background {

}

.background-point{
    -fx-fill: #F8993A;
    -fx-stroke-width: 3.0;
    -fx-stroke: #000000;
}

.background-hexagon{

}

.root-view{
    /*-fx-padding: 100.0;*/
}

.display-root{
    /*-fx-background-color: #333132e5;*/
    -fx-padding: 100.0;

}

.contentRoot{
    -fx-background-color: #333132e5;



}

.contentRoot-center{
    -fx-background-color: #333132e5;

}

.catergory-display0-rootPane{
    -fx-padding: 10.0;
}

.catergory-display0-title{
 -fx-background-color: #C5E5D5;
}

.catergory-display0-content{
-fx-background-color: #125157 ;

}

.catergory-display2-rootPane{
    -fx-padding: 10.0;

}

.catergory-display2-title{
    -fx-background-color: #6b5da9;

}

.catergory-display2-content{
    -fx-background-color: #333132;

}

.catergory-display1-rootPane {
    -fx-padding: 10.0;

}

.catergory-display1-title {
-fx-background-color: #fcb965;
}

.catergory-display1-content {
    -fx-background-color: #FEF8E2;

}

.display-bottom{
    -fx-background-color: #FEF8E2;
}

.display-middle{
    -fx-background-color: #F8993A;

}

.catergory-label{
    -fx-font-size: 36;
    -fx-font-family: Outage;
}

.catergory-description{
    -fx-font-size: 28;
    -fx-font-family: "Arial Rounded MT Bold";
}

.top-team-wrapper{
    -fx-padding: 10.0;
}

.top-team-view0{
    -fx-start-margin: 10.0;
    -fx-background-color: #fffff2;
}
.top-team-view1{
    -fx-start-margin: 10.0;
    -fx-background-color: #fffff2;
}
.top-team-view2{
    -fx-start-margin: 10.0;
    -fx-background-color: #fffff2;
}





